[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Lintouch Server Starter
Comment=Start Lintouch Server for given Lintouch Project
Exec=lintouch-server-starter %f
Terminal=false
Type=Application
Icon=lintouch.png
StartupNotify=false
Categories=Application;Engineering;Qt;System;
MimeType=application/x-lintouch-project

